*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto";
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

/*---HEADER---*/

.head {
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #e7e9fc;
}

.page-head-container {
  display: flex;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
  align-content: calc((100%-80px) / 3);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.web {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(46, 47, 66, 1);
}

.nav-item,
.contact-item {
  display: flex;
  margin-right: 40px;
  justify-content: flex-end;
}

.contact-con,
.contact-lits,
.nav-list,
.logo,
.web {
  display: flex;
  align-items: center;
}

.rrr {
  padding-top: 24px;
  padding-bottom: 24px;
}

.panel {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(46, 47, 66, 1);
  padding: 24px 0;
}

.panel:hover,
.panel:focus {
  color: #404bbf;
}

.contact-con {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-item:last-child,
.nav-item:last-child {
  margin-right: 0;
}

.contact-con:hover,
.contact-con:focus {
  color: #404bbf;
}

.contact-con {
  color: rgba(67, 68, 85, 1);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02;
  font-style: normal;
}

/*--HERO SECTION Sektion1--*/

.effective {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.effective-container {
  align-items: center;
}

.effective-h {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.button-con {
  display: block;
  min-width: 169px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
}

.button-con:hover,
.button-con:focus {
  background-color: #404bbf;
}

/*--STRATEGY SECTION Sektion2--*/
.strategy {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.strategy-container,
.strategy-list {
  display: flex;
  align-items: center;
}
.strategy-list {
  gap: 24px;
}

.strategy-item {
  width: calc((100% - 72px) / 4);
}
.strategy-item:first-child {
  border-radius: 0px 0px 4px 4px;
}

.strategy-text-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  text-align: left;
  margin-bottom: 8px;
}

.strategy-text-p {
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/**--Sektion Team--**/
.ourteam-clas {
  background-color: rgba(244, 244, 253, 1);
  padding: 120px 0;
}
.ourteam-container,
.ourteam-item {
  display: block;
  align-items: center;
}

.ourteam-clas-h {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.ourteam-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.ourteam-item {
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.ourteam-text {
  padding: 32px 0;
}

.ourteam-text-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.ourteam-text-p {
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-align: center;
}

.card-image {
  width: calc((100% - 72px) / 4);
  width: 264px;
}

/** <!--Sektion Portfolio-->**/

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-h {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-h {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  color: #434455;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-flow: row wrap;
}
.card-image-portfolio {
  width: calc((100% - 48px) / 3);
  width: 360px;
}
.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-text-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-text-p {
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.portfolio-item {
  display: flex;
  align-items: left;
  flex-direction: column;
}

/*<!--Footer-->*/

.footer {
  background: #2e2f42;
  padding: 100px 0;
  display: flex;
}

.container-footer {
  display: inline-block;
}

.footer-text-p {
  color: #f4f4fd;
  width: 264px;
}

.web-n {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
}

.logo-n {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
